<head>
	<title></title>


	<meta name="charset" content="utf-8">
	<meta http-equiv="content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

	<link rel="icon" type="image/ico" href="../Images/BridalFavicon.ico">

	<link rel="stylesheet" type="text/css" href="CSS/font-awesome.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
	<script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	<script type="text/javascript" src="JAVASCRIPT/value.js"></script>
	<script type="text/javascript" src="JAVASCRIPT/service.js"></script>
    <script rel="stylesheet" type="text/javascript" src="JAVASCRIPT/collectionAngularImageGallery.js"></script>
	<script src="JAVASCRIPT/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="JAVASCRIPT/designerjs.js" type="text/javascript" charset="utf-8"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-86456732-1', 'auto');
		ga('send', 'pageview');
	</script>

	<link href="CSS/designer.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="CollectionImageGallery" ng-controller="CollectionImageGalleryController as ctrl">
	<div class="additionalNav">
		<p class=" closeAdditionalNav">X</p>
		<ul>
			<li><a href="eddiek.html">Eddie K</a></li>
			<li><a href="aboutJudeJowilson.html">Jude Jowilson</a></li>
			<li><a href="justinAlexander.html">Justin Alexander</a></li>
			<li><a href="pollardi.html">Pollardi</a></li>
			<li><a href="nicolespose.html">Nicole Spose</a></li>
			<li><a href="sincerity.html">Sincerity</a></li>
			<li><a href="venus.html">Venus</a></li>
			<li><a href="lillianWest.html">Lillian West</a></li>
			<li><a href="additionalDesigners.html">Additional Designer</a></li>

		</ul>
	</div>
<!-- _______________________________Header__________________________________ -->

<nav class="stroke">
  <div class="logoNav">
    <p><a href="index.html">Forever Amour Bridal Boutique</a></p>
  </div>
     <div class="hamburger">
	  	<img src="Image/hamburgerMenuIcon.png">
	  </div>
    <ul class="float">
          <li><a href="about.html" class="currentPage btn btn-4">About</a></li>
          <li><a href="collection.html" class="currentPage btn btn-4">Our Collection</a></li>
          <li><a href="aboutJudeJowilson.html" class="currentPage btn btn-4">Jude Jowilson</a></li>
          <li><a href="contact.html" class="currentPage btn btn-4">Contact</a></li>
          <li><a href="game.html" class="currentPage btn btn-4">Take This Quiz</a></li>
          <li class="showAppointment"><a href="appointment.html" class="currentPage btn btn-4">Make An Appointment</a></li>
    </ul>
<div class="stro">
      <a href="appointment.html">Make An Appointment</a>
  </div>
</nav>

<!-- _______________________________END Header__________________________________ -->
	<div>
		<div class="mainContent">
			<div class="additionalDesigner">
				<p>Additional Designers<span>               </span><span><i class="fa fa-bars" aria-hidden="true"></i></span></p>
			</div>
			<div class="designerAbout" ng-if="ctrl.mainHtml == true">
				<div ng-repeat=" designer in ctrl.LillianWest[0]">
					<h1 ng-bind="designer.name"></h1>
					<p ng-bind="designer.description"></p>
					<img src="{{designer.mainImage}}">
				</div>
			</div>
			<div class="designerGallery" ng-if="ctrl.mainHtml == true">
				<div class="galleryBox inline" ng-repeat=" gallery in ctrl.LillianWestPaginate">
					<img class="clickedImage" ng-click="ctrl.viewLargeImage(gallery.img, ctrl.LillianWestPaginate, $index)" src="{{gallery.thumbnail}}">
					<p ng-bind="gallery.designerName"></p>
				</div>
				<div class="pageButtonDiv">
					<p class="previousMain" ng-click="ctrl.prevPage(ctrl.LillianWest[1], ctrl.current_page)">&laquo;</p>
			
					<p class="nextMain" ng-click="ctrl.nextPage(ctrl.LillianWest[1], ctrl.current_page)">&raquo;</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

		</div>

		<div class="selectedImage" ng-if="ctrl.clickedThumbNail == true">
			<div class="selectedImageContent">
				<p class="previous" ng-click="ctrl.prevImage(ctrl.LillianWest[1])">&laquo;</p>
				<img class-"theSelectedImage" src="{{ctrl.selectedImage}}">
				<p class="next" ng-click="ctrl.nextImage(ctrl.LillianWest[1])">&raquo;</p>
				<P class="close" ng-click="ctrl.closeDesignerImageGallerySelectedImage()">X</P>
			</div>
			<div class="clear"></div>
		</div>
	</div>


<footer>
 <div class="footerSocialMedia">
<!--      <h3>Follow Us</h3> -->
      <ul id="footer-social">
        <li>
          <a class="socialLink" href="https://www.theknot.com/marketplace/forever-amour-bridal-boutique-new-york-ny-546587" target="_blank">
            <img id="knotIcon" src="Image/SocialMediaIcons/Knot_SocialIcon_transparent.png" alt="The Knot Icon" title="The Knot Wedding Network">
          </a>
        </li>

        <li>
          <a class="socialLink" href="https://www.facebook.com/ForeverAmourBridalDresses/" target="_blank">
            <img id="fbIcon" src="Image/SocialMediaIcons/FB_SocialIcon_transparent.png" alt="Facebook Icon" title="Facebook">
          </a>
        </li>

        <li>
          <a class="socialLink" href="https://twitter.com/foreveramournyc" target="_blank">
            <img id="twitterIcon" src="Image/SocialMediaIcons/Twitter_SocialIcon_transparent.png" alt="Twitter Icon" title="Twitter">
          </a>
        </li>

        <li>
          <a class="socialLink" href="https://www.pinterest.com/foreveramour/" target="_blank">
            <img id="pinterestIcon" src="Image/SocialMediaIcons/Pinterest_SocialIcon_transparent.png" alt="Pinterest Icon" title="Pinterest">
          </a>
        </li>

        <li>
          <a class="socialLink" href="https://www.instagram.com/foreveramourbridalboutique/" target="_blank">
            <img id="instagramIcon" src="Image/SocialMediaIcons/Instagram_SocialIcon_transparent.png" alt="Instagram Icon" title="Instagram">
          </a>
        </li>
      </ul>

<!-- start footer -->
 <ul class="footerContact">
      <li><p>212 - 486 -2900</p>
      <li><p>1089 Second Ave. Suite 2</p>
      <li><p>New York, NY 10022</p>
      <li><p>stylist@foreveramourbridal.com</p>
  </ul>
      <div class="copyright">
        <h5>© 2017 Forever Amour Bridal Boutique All rights reserved.</h5>
    </div>
  </div>
</footer>
</body>
</html>
